<div class="right-item" id="right-calendar">
<script type="text/javascript">
  var monthNames =
    ["January", "February", "March", "April", "May", "June",
      "July", "August", "September", "October", "November", "December"];
  var d = new Date();
  var m = monthNames[d.getMonth()];
  var y = d.getFullYear();
  var ml = m.toLowerCase();
  document.writeln("<h4>Calendar - " + m + " " + y + "</h4>");
  document.writeln("<a href=\"@Model.Root/calendar/" + y + "/" + ml + ".html\">" +
    "<img src=\"@Model.Root/calendar/" + y + "/" + ml + "-preview.jpg\" style=\"border-style:none;\" />" +
    "</a>");
</script> 
<p>The calendar shows a new picture each month since 
  <a href="@Model.Root/calendar/2005">2005</a>, <a href="@Model.Root/calendar/2006">2006</a>, 
  <a href="@Model.Root/calendar/2007">2007</a>, <a href="@Model.Root/calendar/2008">2008</a>, 
  <a href="@Model.Root/calendar/2009">2009</a>, <a href="@Model.Root/calendar/2010">2010</a>, 
  <a href="@Model.Root/calendar/2011">2011</a>, <a href="@Model.Root/calendar/2012">2012</a>. <br />
  See the first photos of <a href="@Model.Root/calendar/2013">2013</a>.
</p>
</div>