@{ Layout = "default"; }
<div class="row">
	<div class="large-8 columns main-content">
    <content>
      @RenderBody()
    </content>

  </div>
  <div class="large-4 columns" id="right-bar">
    @RenderPart("calendar", Model)

    <h3>Welcome!</h3>
    <img src="@Model.Root/img/tomas.jpg" alt="Tomas Petricek" style="float:right;margin:10px 0px 10px 10px;" />
    <p>I'm an F# enthusiast, book author and a PhD student at the University of Cambridge.
      When offline, I enjoy traveling and taking pictures. You can find me at
      at <a href="http://twitter.com/tomaspetricek">@@tomaspetricek</a> or email 
      <a href="mailto:tomas@tomasp.net">tomas@tomasp.net</a>.
    </p>

    <script type="text/javascript" src="@Model.Root/news/news.js"></script>
    <h4>What's new? &#160; <small><script type="text/javascript">document.write(news.date)</script></small></h4>
    <script>
      document.write(news.info);
    </script>

    <h4>Trainings and consulting</h4>
    <img src="@Model.Root/img/skillsmatter.png" alt="Tomas Petricek" style="float:right;margin:15px 0px 10px 10px;" />
    <p>I run F# and functional programming courses in <strong>London</strong>
      and <strong>New York</strong> with SkillsMatter.
    </p>
    <ul>
      <li>Check out our <a href="http://skillsmatter.com/course/scala/tomas-petricek-phil-trelford-fast-track-to-fsharp/ps-6679">Fast Track to F#</a> course</li>
      <li><a href="mailto:tomas@tomasp.net">Email me</a> for info about private trainings</li>
    </ul>
    
    <h4>F# Books and articles</h4>
    <div style="float:right;">
      <a href="http://www.amazon.com/gp/product/1933988924/ref=as_li_tf_il?ie=UTF8&amp;tag=httptomasnet-20&amp;linkCode=as2&amp;camp=217145&amp;creative=399369&amp;creativeASIN=1933988924">
        <img src="@Model.Root/img/rwfp.jpg" alt="Real World Functional Programming" style="float:right;margin:10px 0px 10px 10px;border-style:none;" />
      </a>
    </div>
    <p><a href="http://www.manning.com/petricek">Real World Functional Programming</a> explains functional
      concepts using F# and C#. You can get it from <a href="http://www.amazon.com/dp/1933988924?tag=httptomasnet-20&amp;camp=213381&amp;creative=390973&amp;linkCode=as4&amp;creativeASIN=1933988924&amp;adid=0F1DP260JGG4KY0CDGP6">Amazon.com</a>, <a href="https://www.amazon.co.uk/dp/1933988924?tag=tomasnet-21&amp;camp=1406&amp;creative=6394&amp;linkCode=as1&amp;creativeASIN=1933988924&amp;adid=1CTY87YCCQEJW965GNDF">Amazon.co.uk</a> or your favorite book store.
      Some chapters and new materials are also available on <a href="http://msdn.microsoft.com/en-us/library/hh314518.aspx">MSDN</a>.</p>
    
    <p>Currently, I'm putting together <a href="http://www.manning.com/petricek2/">F# Deep Dives</a> - a collection
      of practical F# essays written by community leaders and commercial users of F#.</p>
    <p>I also wrote a series of tutorials on <a href="http://www.tryfsharp.org/Learn/financial-computing">financial computing</a>
      for Try F# - an interactive environment that let's you try F# in the browser.</p>

    <h4>Research and teaching</h4>
    <img src="@Model.Root/img/cam.png" alt="University of Cambride" style="float:right;margin:25px 0px 10px 10px;" />
    <p>I'm finishing PhD in computer science at the <a href="http://www.cl.cam.ac.uk/">University of Cambridge</a>.
      I'm working on making better types for programs that run in rich context (like F# type providers, distributed 
      prog&shy;ramming or data-flow). See <a href="http://www.cl.cam.ac.uk/~tp322/">my academic page</a> for
      more.</p>

    <h4>Blog tags</h4>
    <p>
    @{ var first = true; }
    @foreach (var item in Enumerable.Take(Model.TaglyPosts, 20)) {
      @(first?"":", ")
      <a href="@(Model.Root + "/blog/tag/" + item.Item2 + "/")">@item.Item1</a>@String.Format("&nbsp;({0})", Enumerable.Count(item.Item3))
      { first = false; }
    }
    </p>

  </div>
</div>
