@{ 
  Layout = "page"; 
  Title = "Hello World!"; 
}
<link rel="stylesheet" href="/content/css/homepage.css" />
<div id="contain">
  <div class="head face">
    <div class="eye">
      <div class="eye-left">&nbsp;</div>
      <div class="eye-right">&nbsp;</div></div>
    <div class="eye">
      <div class="eye-left">&nbsp;</div>
      <div class="eye-right">&nbsp;</div>
    </div>
    <div class="chin">
      <div class="mouth">&nbsp;</div>
    </div>
  </div>
</div>
<br />
<h3>rant rant</h3>  
<ul class="posts">
  @foreach(var post   in Site.Posts) {
  <li>
    &raquo; <a href="@Site.Url@post.Url">@post.Title</a> 
    <br />
    <span class="date">@post.Date.ToShortDateString()</span>
    @if (post.Tags.Length > 0) { 
      <span class="tags">| @String.Join(", ", post.Tags) </span> 
    }
    <br />
    <span class="description">
      @post.Description
    </span>
  </li>
  }
</ul>
